---
name: Terraform Plan

on:
  pull_request:
    paths:
      - "**/*.tf"

permissions:
  id-token: write # Required for OIDC token exchange
  contents: read
  pull-requests: write # Required for PR Update

concurrency:
  group: dns-tfservice-planner-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_and_plan:
    runs-on:
      group: "Prod FSDH Hosted Runners"
      labels: [self-hosted, linux, dns]
    environment: dns-tfservice-planner[PR Validation]

    steps:
      - name: Login to Azure (OIDC)
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2
        with:
          client-id: ${{ secrets.AZ_APPLICATION_ID }}
          tenant-id: ${{ secrets.AZ_TENANT_ID }}
          subscription-id: ${{ secrets.AZ_SUBSCRIPTION_ID }}

      - name: Check out source code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Install Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: "24"

      - name: Install Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3

      - name: Install Terraform Summarize
        uses: kishaningithub/setup-tf-summarize@b752490b135f74e59d82e656a1dab7f11a937f84 # v2

      - name: Generate Plan and Summary
        uses: cds-snc/terraform-plan@39b0058bcf977fbd8b067b84d5a9f6165e356c32 # v3.7.0
        with:
          terraform-init: |
            -lock=false
            -backend-config="resource_group_name=${{ secrets.TF_DNS_RESOURCE_GROUP }}"
            -backend-config="storage_account_name=${{ secrets.TF_BACKEND_STORAGE_ACCOUNT }}"
            -backend-config="container_name=${{ secrets.TF_BACKEND_CONTAINER }}"
            -backend-config="key=${{ secrets.TF_BACKEND_STATE }}"
            -backend-config="subscription_id=${{ secrets.AZ_SUBSCRIPTION_ID }}"
          terraform-plan: |
            -lock=false
            -var="azure_client_id=${{ secrets.AZ_APPLICATION_ID }}"
            -var="azure_tenant_id=${{ secrets.AZ_TENANT_ID }}"
            -var="azure_subscription_id=${{ secrets.AZ_SUBSCRIPTION_ID }}"
            -var="resource_group_name=${{ secrets.TF_DNS_RESOURCE_GROUP }}"
            -var="storage_account_name=${{ secrets.TF_BACKEND_STORAGE_ACCOUNT }}"
            -var="container_name=${{ secrets.TF_BACKEND_CONTAINER }}"
            -var="backend_state_name=${{ secrets.TF_BACKEND_STATE }}"
          comment-delete: "true"
          comment-title: "Summary of Changes (Terraform Plan)"
          skip-conftest: true
          github-token: "${{ secrets.GITHUB_TOKEN }}"
