---
name: Lint

on:
  push: {}
  pull_request: {}

permissions: read-all

jobs:
  build:
    name: Lint
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read
      statuses: write # To report GitHub Actions status checks

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - name: Super-linter
        uses: super-linter/super-linter/slim@61abc07d755095a68f4987d1c2c3d1d64408f1f9 # v8.5.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # To report GitHub Actions status checks
          VALIDATE_ALL_CODEBASE: false # Lint only changed files
          VALIDATE_CHECKOV: false
          VALIDATE_JSCPD: false
          SUPPRESS_POSSUM: true
          LINTER_RULES_PATH: /
          TERRAFORM_TFLINT_CONFIG_FILE: .tflint.hcl
          GITHUB_ACTIONS_CONFIG_FILE: .actionlint.yml
