name: Terraform Validation Checks

on:
  pull_request:
    paths:
      - "**/*.tf"
      - ".tflint.hcl"
      - ".tflint.d/policies/**"

permissions: read-all

jobs:
  validate-and-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3

      - name: Init & Validate
        run: |
          terraform init -backend=false
          terraform validate

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@4cb9feea73331a35b422df102992a03a44a3bb33 # v6

      - name: Run TFLint
        env:
          TFLINT_OPA_POLICY_DIR: ${{ github.workspace }}/.tflint.d/policies
          TFLINT_CONFIG_FILE: ${{ github.workspace }}/.tflint.hcl
        run: |
          tflint --init
          TFLINT_OPA_TEST=1 tflint --no-color
          tflint --recursive --format=compact
